body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

.select-label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.quadro {
    margin-top: 20px;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
}

.campo {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 96%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #777;
    color: #fff;
    margin-bottom: 5px;
}

.valor {
    font-size: 48px; 
    color:rgba(225, 221, 221, 0.5);
}

.emoji-button {
    display: inline-block;
    padding: 20px;
    font-size: 48px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
}

.emoji-button:hover {
    box-shadow: 0px 0px 10px rgba(225, 221, 221, 0.5);
}

.selected {
    box-shadow: 0px 0px 10px rgba(55, 187, 230, 0.5);
}